{% if parent %}
    <blockquote class="quote">
        <a class="close mr-2 action-cancel-comment">
            <span>&times;</span>
        </a>
        <a href="{{ path('user_profile', {'username': parent.user.username }) }}">{{ parent.user.username }}</a>: {{ parent.body }}
    </blockquote>
{% endif %}

{{ form_start(form, { method: 'POST', action: path('topic_comment_new', {'id': topic.id}), 'attr': {'novalidate': 'novalidate'} }) }}

{{ form_widget(form) }}

<div class="form-group text-right">
    <button class="btn btn-primary" type="submit">回复</button>
</div>
{{ form_end(form) }}