<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}长沙之家{% endblock %}</title>
        <link rel="dns-prefetch" href="//pic1.cshome.com">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0.min.css') }}">
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 9]>
        <div class="browser-warning">
            <div class="message">
                你正在使用低版本 IE 浏览器，请安装 <a href="http://www.google.com/chrome/">Google Chrome</a> 浏览器。
            </div>
        </div>
        <![endif]-->
        {% block header %}
            <header class="site-header fixed-top">
                <div class="container">
                    <nav class="navbar navbar-toggleable-md navbar-light">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="navbar-logo">
                            <a class="navbar-brand" href="{{ path('homepage') }}"><i class="fa fa-smile-o"></i> 长沙之家</a>
                        </div>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="{{ path('homepage') }}">首页</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('group_show', {'slug': 'changsha'}) }}">大城小事</a></li>
                            </ul>

                            <form class="navbar-search form-inline" action="javascript:void(0)">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="搜索主题">
                                    <button class="btn btn-outline-secondary btn-search" type="submit">搜索
                                    </button>
                                </div>
                            </form>

                            {% if app.user %}
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                           href="{{ path('settings_index') }}"
                                           data-toggle="dropdown">
                                            {{ app.user.username }}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{{ path('settings_index') }}">我的账号</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ path('security_logout') }}">退出</a>
                                        </div>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="navbar-nav signup-login-links">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('user_register') }}">注册</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('security_login') }}">登录</a>
                                    </li>
                                </ul>
                                <div class="signup-login-buttons">
                                    <a class="btn btn-outline-secondary" href="{{ path('security_login') }}">登录</a>
                                    <a class="btn btn-primary" href="{{ path('user_register') }}">注册</a>
                                </div>
                            {% endif %}

                        </div>
                    </nav>
                </div>
            </header>
        {% endblock %}
        <div class="container page-container">
            {{ include('default/_flash_messages.html.twig') }}

            {% block body %}
                <div class="wrapper">
                    <div class="content-main">
                        {% block main %}{% endblock %}
                    </div>
                    <div class="content-sidebar">
                        {% block sidebar %}{% endblock %}

                        <div class="sidebar-block sidebar-site-footer">
                            <ul>
                                <li><a href="{{ path('contact') }}">联系我们</a></li>
                                <li><a href="{{ path('terms') }}">服务协议</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/app.min.js') }}"></script>
        {% endblock %}

        {% if 'prod' == app.environment %}
            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?27e0778e3f07bb043b051b9759909ada";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
        {% endif %}
    </body>
</html>
