{% extends '::base.html.twig' %}

{% block title '长沙之家' %}

{% block main %}

    <div class="topic-list">
        <header class="topic-list-header">
            <h5>最新主题</h5>
        </header>

        <ul class="topic-list-items">
            {% for topic in topics %}
                <li class="topic-list-item">
                    <a href="{{ path('topic_show', {'id': topic.id}) }}" class="item-title">{{ topic.title }}</a>
                    <div class="topic-item-meta">
                        <span><a href="{{ path('user_profile', {'username': topic.user.username }) }}">{{ topic.user.name }}</a></span>
                        <span class="topic-item-meta-bullet">•</span>
                        <abbr>{{ topic.createdAt | date('m-d H:i') }}</abbr>
                        <span class="topic-item-meta-bullet">•</span>
                        <span>{{ topic.numComments }}回复</span>
                        <span class="topic-item-meta-bullet">•</span>
                        <span><a href="{{ path('group_show', {'slug': topic.group.slug}) }}">{{ topic.group.name }}</a></span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="topic-list-pagination">

        </div>
    </div>

{% endblock %}

{% block sidebar %}

    {{ render(controller('GroupBundle:Group:recommend')) }}

{% endblock %}