{% extends '::base.html.twig' %}

{% block title '首页' %}

{% block main %}

    <div class="topic-list">
        <header class="topic-list-header">
            <h1>最新主题</h1>
        </header>

        <ul class="topic-list-items">
            {% for topic in topics %}
                <li class="topic-list-item">
                    <a href="{{ path('topic_show', {'id': topic.id}) }}" class="topic-item-title">{{ topic.title }}</a>
                    <div class="topic-item-meta">
                        <span><a href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.numComments }}回复</a></span>
                        <span class="topic-item-meta-bullet">•</span>
                        <span><a href="{{ path('user_profile', {'username': topic.user.username }) }}">{{ topic.user.name }}</a></span>
                        {% if topic.lastComment %}
                            <span class="topic-item-meta-bullet">•</span>
                            <abbr>{{ topic.lastComment.createdAt | date('m-d H:i') }}</abbr>
                            <span class="topic-item-meta-bullet">•</span>
                            <span>最后回复 <a href="{{ path('user_profile', {'username': topic.lastComment.user.username }) }}">{{ topic.lastComment.user.name }}</a></span>
                        {% else %}
                            <span class="topic-item-meta-bullet">•</span>
                            <abbr>{{ topic.createdAt | date('m-d H:i') }}</abbr>
                        {% endif %}
                        <span class="topic-item-meta-bullet">•</span>
                        <span><a href="{{ path('group_show', {'slug': topic.group.slug}) }}">{{ topic.group.name }}</a></span>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if maxPages > 1 %}
            <div class="pagination">
                <a class="pagination-previous{{ currentPage == 1 ? ' disabled' }}" href="{{ path('homepage_paginated', {page: currentPage - 1 < 1 ? 1 : currentPage - 1}) }}">‹ 上一页</a>
                <span class="pagination-state">{{ currentPage }}/{{ maxPages }}</span>
                <a class="pagination-next{{ currentPage == maxPages ? ' disabled' }}" href="{{ path('homepage_paginated', {page: currentPage + 1 <= maxPages ? currentPage + 1 : currentPage}) }}">下一页 ›</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block sidebar %}

    {{ render(controller('GroupBundle:Group:recommend')) }}

{% endblock %}