{% extends '::base.html.twig' %}

{% block title '首页' %}

{% block main %}

    <div class="topic-list">
        <header class="topic-list-header">
            <h1>最新主题</h1>
        </header>

        <ul class="topic-list-items">
            {% for topic in topics %}
                <li class="topic-list-item">
                    <div class="list-topic-grouper list-topic-main-grouper">
                        <a href="{{ path('topic_show', {'id': topic.id}) }}#comment{{ topic.numComments }}" class="topic-item-title">{{ topic.title }}</a>
                        <div class="topic-item-meta">
                            <span><a href="{{ path('user_profile', {'username': topic.user.username }) }}">{{ topic.user.name }}</a></span>
                            {% if topic.lastComment %}
                                <span class="topic-item-meta-bullet">•</span>
                                <span title="{{ topic.lastComment.createdAt | date('Y-m-d H:i') }}">{{ topic.lastComment.createdAt | ago }}</span>
                                <span class="topic-item-meta-bullet">•</span>
                                <span>最后回复 <a href="{{ path('user_profile', {'username': topic.lastComment.user.username }) }}">{{ topic.lastComment.user.name }}</a></span>
                            {% else %}
                                <span class="topic-item-meta-bullet">•</span>
                                <span title="{{ topic.createdAt | date('Y-m-d H:i') }}">{{ topic.createdAt | ago }}</span>
                            {% endif %}
                            <span class="topic-item-meta-bullet">•</span>
                            <span><a href="{{ path('group_show', {'slug': topic.group.slug}) }}">{{ topic.group.name }}</a></span>
                        </div>
                    </div>
                    {% if topic.numComments %}
                        <div class="list-topic-grouper list-topic-comment-grouper">
                            <a href="{{ path('topic_show', {'id': topic.id}) }}#comment{{ topic.numComments }}" class="topic-comment-number">{{ topic.numComments }}</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if topics.haveToPaginate %}
            {{ pagerfanta(topics, 'simple', { routeName: 'homepage_paginated' }) }}
        {% endif %}

    </div>

{% endblock %}

{% block sidebar %}

    {{ render(controller('GroupBundle:Group:recommend')) }}

{% endblock %}