{% extends '::base.html.twig' %}

{% block title '修改密码' %}

{% block body %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('settings_index') }}">我的账号</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('settings_password') }}">修改密码</a>
        </li>
    </ul>

    <div class="w-25 my-4">

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">更改</button>
        {{ form_end(form) }}

    </div>

{% endblock %}