{% extends '::base.html.twig' %}

{% block title '群组' %}

{% block main %}

    <div class="section group-discussion">

        <h5 class="section-header">最新主题</h5>

        <table class="table topics">
            {% for topic in topics %}
                <tr class="topic">
                    <td class="title"><a href="{{ path('group_topic_show', {'id': topic.id}) }}">{{ topic.title }}</a></td>
                    <td class="comments text-center text-muted">{{ topic.numComments }}回复</td>
                    <td class="created-at text-center text-muted">{{ topic.createdAt | date('m-d H:i') }}</td>
                    <td class="group text-right"><a
                                href="{{ path('group_topic', {'slug': topic.group.slug}) }}">{{ topic.group.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block sidebar %}

    <div class="card">
        <div class="card-header">header</div>
        <div class="card-block">
            text
        </div>
    </div>

{% endblock %}