{% extends '::base.html.twig' %}

{% block title group.name %}

{% block main %}

    <div class="topic-list">
        <header class="topic-list-header">
            <h1>
                {{ group.name }}
                <a class="btn btn-post btn-outline-primary pull-right" href="{{ path('topic_new', {'slug': group.slug}) }}"><i class="fa fa-pencil"></i> 发新主题</a>
            </h1>
        </header>

        <ul class="topic-list-items">
            {% for topic in topics %}
                <li class="topic-list-item">
                    <a href="{{ path('topic_show', {'id': topic.id}) }}" class="topic-item-title">{{ topic.title }}</a>
                    <div class="topic-item-meta">
                        <span><a href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.numComments }}回复</a></span>
                        <span class="topic-item-meta-bullet">•</span>
                        <span><a href="{{ path('user_profile', {'username': topic.user.username }) }}">{{ topic.user.name }}</a></span>
                        {% if topic.lastComment %}
                            <span class="topic-item-meta-bullet">•</span>
                            <abbr>{{ topic.lastComment.createdAt | date('m-d H:i') }}</abbr>
                            <span class="topic-item-meta-bullet">•</span>
                            <span>最后回复 <a href="{{ path('user_profile', {'username': topic.lastComment.user.username }) }}">{{ topic.lastComment.user.name }}</a></span>
                        {% else %}
                            <span class="topic-item-meta-bullet">•</span>
                            <abbr>{{ topic.createdAt | date('m-d H:i') }}</abbr>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if topics.haveToPaginate %}
            {{ pagerfanta(topics, 'simple', { routeName: 'group_show_paginated', routeParams: { slug: group.slug } }) }}
        {% endif %}

    </div>

{% endblock %}

{% block sidebar %}

    {{ render(controller('GroupBundle:Group:recommend')) }}

{% endblock %}