{% extends '::base.html.twig' %}

{% block main %}

    <h5 class="mb-4"><a href="{{ path('group_topic', {'id': group.id}) }}">{{ group.name }}</a> / 发表新主题</h5>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary btn-sm">发起主题</button>
    {{ form_end(form) }}

    <div class="py-2">
        或 <a href="{{ path('group_topic', {'id': group.id}) }}">回到{{ group.name }}</a>
    </div>

{% endblock %}