{% extends '::base.html.twig' %}

{% block title '发表新主题' %}

{% block main %}

    <div class="section">

        <h5 class="section-header">发表新主题</h5>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div class="form-group text-right">
            <a href="{{ path('group_show', {'slug': group.slug}) }}" class="text-muted mr-2">返回{{ group.name }}</a>

            <button type="submit" class="btn btn-primary">发起主题</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

    <script>
        window.onload = function () {
            CKEDITOR.replace('topic_body', {
                customConfig: '{{ asset('js/ckeditor-config.js') }}'
            });
        };
    </script>

{% endblock %}