{% extends '::base.html.twig' %}

{% block title '在"' ~ group.name ~ '"发表新主题' %}

{% block main %}

    <h5 class="page-header-text mb-4">在"{{ group.name }}"发表新主题</h5>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">发起主题</button>
    </div>

    {{ form_end(form) }}

    <a href="{{ path('group_show', {'slug': group.slug}) }}" class="text-muted">返回{{ group.name }}</a>

{% endblock %}