{% extends '::base.html.twig' %}

{% block title topic.title %}

{% block main %}
    <div class="group-discussion-topic">
        <div class="discussion-topic-header">
            <h4>{{ topic.title }}</h4>
        </div>

        <div class="topic">
            <div class="message">
                <div class="author">
                    <a href="{{ path('user_profile', {'username': topic.user.username }) }}">{{ topic.user.username }}</a>
                    <span
                            class="since">发布于 {{ topic.createdAt | date('Y-m-d H:i:s') }}</span>
                </div>
                <div class="actions">
                    <a class="reply" href="#comment">回复</a>
                    {% if can_edit_topic(topic) %}
                        <a class="edit" href="{{ path('topic_edit', {'id': topic.id}) }}">编辑</a>
                    {% endif %}
                    {% if can_delete_topic(topic) %}
                        <a class="delete" href="{{ path('topic_delete', {'id': topic.id}) }}"
                           onclick="return confirm('确认删除该主题吗？')">删除</a>
                    {% endif %}
                </div>
                <div class="message-text">
                    {{ topic.body | nl2br }}
                </div>
            </div>
        </div>

        {% if topic.numComments > 0 %}
            <div class="comments">
                <h5 class="comment-counts">{{ topic.numComments }} 个回复</h5>
                {% for comment in comments %}
                    <div class="comment">
                        <div class="message">
                            <div class="author">
                                <a href="{{ path('user_profile', {'username': comment.user.username }) }}">{{ comment.user.username }}</a>
                                <span
                                        class="since">{{ comment.createdAt | date('m-d H:i:s') }}</span>
                            </div>
                            <div class="actions">
                                <a class="reply"
                                   href="{{ path('topic_show', {'id': comment.topic.id, 'comment_id': comment.id}) }}#comment">回复</a>

                                {% if can_edit_topic_comment(comment) %}
                                    <a class="edit"
                                       href="{{ path('topic_comment_edit', {'id': comment.id}) }}">编辑</a>
                                {% endif %}
                                {% if can_delete_topic_comment(comment) %}
                                    <a class="delete"
                                       href="{{ path('topic_comment_delete', {'id': comment.id}) }}"
                                       onclick="return confirm('确认删除该回复吗？')">删除</a>
                                {% endif %}
                            </div>

                            <div class="message-text">

                                {% if comment.parent %}

                                    <blockquote class="quote">
                                        <a href="{{ path('user_profile', {'username': comment.parent.user.username }) }}">{{ comment.parent.user.username }}</a>: {{ comment.parent.body }}
                                    </blockquote>

                                {% endif %}

                                {{ comment.body | nl2br }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="post">
            <h5 class="mb-4">
                回复主题
            </h5>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ render(controller('GroupBundle:Comment:newForm', { 'id': topic.id, 'comment_id': app.request.get('comment_id') })) }}
            {% else %}
                <div class="card py-5">
                    <div class="card-block text-center text-muted">
                        <a href="{{ path('security_login') }}">登录</a>后回复主题
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block sidebar %}

    <div class="section">
        <h5 class="section-header">最新主题</h5>

        <ul class="list-unstyled">
            {% for topic in latestTopics %}
                <li class="my-2"><a href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {{ include('GroupBundle:Group:recommend.html.twig') }}

    <hr />

    返回<a href="{{ path('group_topic', {'slug': topic.group.slug}) }}">{{ topic.group.name }}</a>

{% endblock %}