{% extends '::base.html.twig' %}

{% block title topic.title %}

{% block main %}

    <article class="topic">
        <div class="topic-header">
            <h1><a href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.title }}</a></h1>
            <div class="topic-header-meta">
                <a href="{{ path('user_profile', {'username': topic.user.username }) }}">{{ topic.user.name }}</a>
                <span>发布于 {{ topic.createdAt | date('Y-m-d H:i:s') }}</span>
            </div>
        </div>

        <div class="topic-body">
            {{ topic.body | purify }}
        </div>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="topic-footer">
                <a href="#comment">回复</a>
                {% if can_edit_topic(topic) %}
                    <span class="topic-footer-bullet">•</span>
                    <a href="{{ path('topic_edit', {'id': topic.id}) }}">编辑</a>
                {% endif %}
                {% if can_delete_topic(topic) %}
                    <span class="topic-footer-bullet">•</span>
                    <a href="{{ path('topic_delete', {'id': topic.id}) }}" onclick="return confirm('确认删除该主题吗？')">删除</a>
                {% endif %}
            </div>
        {% endif %}

    </article>

    {% if topic.numComments > 0 %}
        <div class="topic-comments">
            <div class="topic-comments-header">
                <h2>回复({{ topic.numComments }})</h2>
            </div>

            <ul class="topic-comments-list">
                {% for comment in comments %}
                    <li class="topic-comment" id="comment-{{ comment.id }}">
                        {% if comment.parent %}
                            <div class="topic-comment topic-comment-nested">
                                <div class="topic-comment-header">
                                    <a href="{{ path('user_profile', {'username': comment.parent.user.username }) }}">{{ comment.parent.user.name }}</a>
                                    <span>发布于 {{ comment.parent.createdAt | date('m-d H:i:s') }}</span>
                                </div>
                                <div class="topic-comment-body">
                                    {{ comment.parent.body | purify }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="topic-comment-header">
                            <a href="{{ path('user_profile', {'username': comment.user.username }) }}">{{ comment.user.name }}</a>
                            <span>发布于 {{ comment.createdAt | date('m-d H:i:s') }}</span>
                        </div>
                        <div class="topic-comment-body">
                            {{ comment.body | purify }}
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="topic-comment-footer">
                                <a href="javascript:void(0)" class="action-quote">回复</a>

                                {% if can_edit_comment(comment) %}
                                    <span class="topic-comment-footer-bullet">•</span>
                                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">编辑</a>
                                {% endif %}
                                {% if can_delete_comment(comment) %}
                                    <span class="topic-comment-footer-bullet">•</span>
                                    <a href="{{ path('comment_delete', {'id': comment.id}) }}" onclick="return confirm('确认删除该回复吗？')">删除</a>
                                {% endif %}
                            </div>
                            <div class="quote-comment">
                                {{ render(controller('GroupBundle:Comment:newForm', { 'id': comment.topic.id, 'parentId': comment.id })) }}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="topic-comment-form">
        <a id="comment"></a>

        <div class="topic-comment-form-header">
            <h2>你的回复</h2>
        </div>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ render(controller('GroupBundle:Comment:newForm', { 'id': topic.id })) }}
        {% else %}

            <div class="comment-login-required">
                <div class="comment-login-block">
                    <a href="{{ path('security_login') }}">登录</a> 或 <a href="{{ path('user_register') }}">注册</a> 后回复主题
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}

    <div class="sidebar-block">
        <h5 class="sidebar-block-title">最新主题</h5>

        <ul class="list-unstyled">
            {% for topic in latestTopics %}
                <li class="my-2"><a href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {{ render(controller('GroupBundle:Group:recommend')) }}

    <div class="sidebar-block text-muted">
        返回<a href="{{ path('group_show', {'slug': topic.group.slug}) }}">{{ topic.group.name }}</a>
    </div>

{% endblock %}