{% extends '::base.html.twig' %}

{% block title '我的账号' %}

{% block body %}
    <div class="row">
        <div class="col">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('account_index') }}">我的账号</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_edit_password') }}">修改密码</a>
                </li>
            </ul>

            <div class="section w-50 my-4">
                <div class="row py-2">
                    <div class="col-4">用户名</div>
                    <div class="col-8">{{ user.username }}</div>
                </div>

                <div class="row py-2">
                    <div class="col-4">个性域名</div>
                    <div class="col-8">{{ app.request.schemeAndHttpHost }}/profile/<span
                                class="font-weight-bold">{{ user.username }}</span></div>
                </div>

                <div class="row py-2">
                    <div class="col-4">昵称</div>
                    <div class="col-8">{{ user.name | default('未设置') }}</div>
                </div>

                <div class="row py-2">
                    <div class="col-4">主题</div>
                    <div class="col-8">{{ user.numTopics }}</div>
                </div>

                <div class="row py-2">
                    <div class="col-4">回复</div>
                    <div class="col-8">{{ user.numComments }}</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}